$primaryColor: #0085c3;
$onPrimary: white;

$borderRadius: 1rem;

$baseColor: #1a1a1a;

$boxborderColor: rgba(0,0,0,0.1);

$breadCrumbAnchorColor: rgba(0,0,0,0.5);

$buttonHover: rgba(0,0,0,0.075);
$buttonActive: rgba(0,0,0,0.05);

$borderColor: rgba($baseColor, 0.1);

$brandRed: #cc0000;
$brandRedHover: rgba(#cc0000, 0.75);
$onBrandRed: white;

$brandBlue: #0058ff;
$brandBlueHover: rgba(#0058ff, 0.75);
$onBrandBlue: white;

$menuBackground: #FFFFFF;
$menuText: #2B2B2B;
$inputFieldBackground: #f1f2f2;