$containerWidth: 1200px;
$transitionDuration: 300ms;

$headerIndex: 1000;

$overlayIndex: 10050;
$buttonPadding: 0.5rem 1rem; 
$buttonHeight: 2.5rem;
$buttonBorderRadius: 2.5rem;
$buttonFontSize: 1rem;

$onFooterZ: 500;