.overlay {
    background-color: rgba(1,1,1, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1000;

    &.show {
        display: block;
    }
}