.card {
  position: relative;
  overflow: hidden;
  border-radius: $borderRadius;

  &.product {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: white;
    // border: 1px solid silver;
    overflow: hidden;
    color: $baseColor;

    .image {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 200px;
      width: 100%;
      height: 100%;
      background-color: whitesmoke;
      img {
        position: relative;
        height: 100%;
        z-index: 0;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      position: relative;
      width: 100%;

      .buttons {
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        display: flex;
        flex-direction: column;

        button, a {
            background-color: unset;
            border: unset;
            color: $baseColor;
            text-decoration: none;
            opacity: .5;
            cursor: pointer;
            font-size: 1.5rem;
            padding: 0.25rem;
            margin: 0;

            i, svg {
                font-size: inherit;
                padding: 0;
                margin: 0;
            }

            &:hover {
               opacity: 1;
            }

        }
      }

      .title {
        // padding: 0.5rem;
        margin: 0;
      }

      .price {
        color: $primaryColor;
        * {
          color: inherit;
          font-size: 1.25rem;
          margin: 0.5rem;
        }
      }

      .details {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        p {
          margin: 0;
          font-size: 0.75rem;
          opacity: 0.75;
        }
      }
    }
  }
}
