select {
    padding: 0.75rem 1rem;
    background-color: rgb(250, 250, 250);
    border: unset;
    border-bottom: 2px solid $primaryColor;
    border-radius: 0;
    width: 100%;
    outline: none;
}