.about {
    &__container {
        max-width: 820px;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        color: #383531;
    }

    &__subtitle {
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 24px;
        color: #383531;
    }

    &__section {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }

        h2 {
            font-size: 1.4rem;
            font-weight: 700;
            margin-bottom: 5px;
            color: #2d2d2d;
        }

        p {
            font-size: 1rem;
            line-height: 1.7;
            color: #6b6b6b;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__divider {
        margin: 20px 0 5px 0;
        border: none;

        h1 {
        font-weight: 700;
            color: #0057ff;
        }
    }

    @media (max-width: 768px) {
        &__title {
            font-size: 2rem;
            margin-bottom: 30px;
        }

        &__features {
            grid-template-columns: 1fr;
        }
    }
}