@import "../styles/common.scss";

.search-page {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;

  &__results {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    padding: 0 24px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #6b7280;
    border-bottom: 1px solid $borderColor;

    p {
      font-size: 1.3rem;
      padding: 35px 0 0 400px;
      font-weight: 600;
      color: #0057ff;
    }
  }

  > .content {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 380px minmax(0, 1fr);
    gap: 1rem;
    overflow-x: hidden;

    > .filter {
      width: 100%;
      height: fit-content;

      .head {
        display: flex;
        align-items: center;
      }
    }

    > .listing {
      width: 100%;

      .promoted {
        position: relative;
        background-color: rgb(250, 250, 250);
        margin: 0.25rem;
        padding: 1rem;
        border-radius: 1rem;

        .swiper-slide {
          width: fit-content;
          flex-shrink: 0; 
        }
      }

      > .head {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $borderColor;
        height: 50px;

        button {
          cursor: pointer;
          padding: 0 1rem;
          margin: unset;

          border: unset;
          border-radius: unset;
          background-color: transparent;
          transition-duration: $transitionDuration;
          border-bottom: 2px solid transparent;

          &:hover {
            background-color: whitesmoke;
            border-bottom: 2px solid $borderColor;
          }

          &[data-active="true"] {
            color: $brandBlue;
            border-bottom: 2px solid $brandBlue;
          }
        }

        > .navigation-widget {
          margin-left: auto;
          padding: unset;
          display: flex;
          align-items: stretch;

          .pagination {
            padding: unset;
            gap: 0.5rem;

            align-items: stretch;

            span {
              height: 100%;
              border-bottom: 2px solid transparent;
              border-radius: 0;
              width: 50px;

              &:hover {
                background-color: transparent;

                border-bottom: 2px solid whitesmoke;
              }

              &.current {
                background-color: transparent;
                color: $brandBlue;
                border-bottom: 2px solid $brandBlue;
              }
            }
          }
        }

        > .title {
          margin: 0;
          padding: 1rem;
          font-size: 1.5rem;
          justify-items: center;
          justify-content: center;
          align-items: center;
        }
      }

      .view {
        width: 100%;
        .listing-view {
          width: 100%;
          display: none;
          min-height: 100vh;

          &[data-active="true"] {
            display: block;
          }

      .manufacturer-listing {
        width: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
      }
        }
      }
    }
  }
}