@import "../styles/common.scss";

.search-page {
  position: relative;
  max-width: 100%;

  > .content {
    width: 100%;
    display: grid;
    grid-template-columns: 260px minmax(0, 1fr);

    > .filter {
      width: 100%;
      height: fit-content;

      .head {
        display: flex;
        align-items: center;
      }
    }

    > .listing {
      width: 100%;

      .promoted {
        position: relative;
        background-color: rgb(250, 250, 250);
        margin: 0.25rem;
        padding: 1rem;
        border-radius: 1rem;

        .swiper-slide {
          width: fit-content; /* fixed width per card */
          flex-shrink: 0; /* prevents shrinking below width */
        }
      }

      > .head {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $borderColor;
        height: 50px;

        button {
          // height: 100%;
          cursor: pointer;
          padding: 0 1rem;
          margin: unset;

          border: unset;
          // border-bottom: 2px solid $borderColor;
          border-radius: unset;
          background-color: transparent;
          transition-duration: $transitionDuration;
          border-bottom: 2px solid transparent;

          &:hover {
            background-color: whitesmoke;
            border-bottom: 2px solid $borderColor;
          }

          &[data-active="true"] {
            color: $brandBlue;
            border-bottom: 2px solid $brandBlue;
          }
        }

        > .navigation-widget {
          margin-left: auto;
          // margin-right: 0.5rem;
          padding: unset;
          display: flex;
          align-items: stretch;

          .pagination {
            padding: unset;
            gap: 0.5rem;

            align-items: stretch;

            span {
              height: 100%;
              border-bottom: 2px solid transparent;
              border-radius: 0;
              width: 50px;

              &:hover {
                background-color: transparent;

                border-bottom: 2px solid whitesmoke;
              }

              &.current {
                //background-color: whitesmoke;
                background-color: transparent;
                color: $brandBlue;
                border-bottom: 2px solid $brandBlue;
              }
            }
          }
        }

        > .title {
          margin: 0;
          padding: 1rem;
          font-size: 1.5rem;
          justify-items: center;
          justify-content: center;
          align-items: center;
        }
      }

      .view {
        width: 100%;
        .listing-view {
          width: 100%;
          display: none;

          &[data-active="true"] {
            display: block;
          }
        }
      }
    }
  }
}
