@import "../styles/common.scss";

.claim-business {
  .heading {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: whitesmoke;
    padding-bottom: 14rem;

    &.purple {
        background-color: #fbf8ff;
    }
    &.green {
        background-color: #f5fff6;
    }
    &.blue {
        background-color: #f3ffff;
    }

    .blue {
      color: $brandBlue;
    }

    h1 {
      font-size: 28px;
      text-align: center;
      font-weight: bold;

      span {
        font-size: inherit;
        font-weight: inherit;
        margin: 0;
        padding: 0;
      }
    }

    p {
      text-align: center;
      font-weight: normal;
    }
  }
  .form {
    margin: 0 auto;
    margin-top: -10rem;
    width: 100%;
    max-width: $containerWidth;

    background-color: white;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      width: 100%;
      max-width: 837px;

      .error {
        color: red;
        font-size: 12px;
        margin-top: 4px;
        display: block;
      }

      button {
        background-color: $brandBlue;
        color: $onBrandBlue;
        padding: 0.75rem;
        border-radius: $buttonBorderRadius;
        border: none;
        width: 75%;
        margin-left: auto;
      }

      .form-group {
        display: grid;
        grid-template-columns: 25% 75%;

        label {
          display: block;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
      }

      .industries-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: relative;
        border-radius: 6px;
        background-color: #fff;

        button {
          background-color: #007bff;
          color: white;
          border: none;
          padding: 0.5rem 0.25rem;
          border-radius: 4px;
          cursor: pointer;
          font-size: 14px;
          transition: background 0.2s ease;

          &:hover {
            background-color: #0056b3;
          }
        }
      }

      .chips-container {
        display: flex;
        gap: 0.25rem;
        .chip {
          background-color: #f0f0f0;
          color: #333;
          padding: 0px 10px;
          display: flex;
          align-items: center;
          border-radius: 16px;
          font-size: 13px;
          width: min-content;

          .remove-chip {
            background: transparent;
            border: none;
            color: #888;
            margin-left: 8px;
            cursor: pointer;
            font-size: 14px;

            &:hover {
              color: red;
            }
          }
        }
      }

      .suggestions-list {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
        max-height: 160px;
        overflow-y: auto;
        background: white;
        border: 1px solid #ddd;
        border-radius: 6px;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 20;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        li {
          padding: 8px 12px;
          cursor: pointer;
          transition: background 0.2s ease;
          font-size: 14px;

          &:hover {
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
}
