.contact {
  &__container {
    max-width: 820px;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 12px;
    color: #382531;
  }

  &__subtitle {
    font-size: 1.1rem;
    color: #383531;
    margin-bottom: 40px;
  }

  &__submit-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
  }

  &__email-input {
    height: 70px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  &__floating-wrapper {
    position: relative;
    width: 100%;
  }

  &__email-input {
    width: 100%;
    height: 70px;
    padding: 24px 16px 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;
    outline: none;
    transition: border-color 0.2s ease;
  }

  &__email-label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #686159;
    font-size: 1rem;
    padding: 0 4px;
    background: rgb(255, 255, 255);
    transition: 0.2s ease;
  }

  /* FLOAT label when focused OR filled */
  &__email-input:focus + .contact__email-label,
  &__email-input:not(:placeholder-shown) + .contact__email-label {
    top: -10px;
    transform: none;
    color: #0057ff;
  }

  &__message-textarea {
    width: 100%;
    height: 230px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
  }

  &__submit-button {
    height: 40px;
    background-color: #0057ff;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 28px;
    cursor: pointer;
  }
}