.exhibitions {
    &__container {
        max-width: 820px;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 12px;
        color: #383531;
    }

    &__subtitle {
        font-size: 1.1rem;
        color: #383531;
        margin-bottom: 40px;
    }

    &__grid {
        // display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 24px;
    }

    &__card {
        background: #f8f8f8;
        padding: 24px;
        margin-bottom: 20px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
    }

    &__card-header {
        margin-bottom: 12px;
    }

    &__category {
        color: #0057ff;
        font-size: 0.8rem;
        font-weight: 600;
    }

    &__name {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 12px;
        color: #0057ff;
    }

    &__details {
        margin-bottom: 12px;

        p {
            font-size: 0.9rem;
            color: #6b6b6b;
            margin: 6px 0;
        }
    }

    &__description {
        font-size: 0.95rem;
        line-height: 1.6;
        color: #6b6b6b;
        margin-bottom: 16px;
        flex-grow: 1;
    }


    @media (max-width: 768px) {
        &__title {
            font-size: 2rem;
        }

        &__grid {
            grid-template-columns: 1fr;
        }
    }
}