.membership-pricing {
    &__container {
        padding-left: 100px;
        max-width: 830px;
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 12px;
        color: #383531;
    }

    &__subtitle {
        font-size: 1.3rem;
        font-weight: 400;
        color: #383531;
        margin-bottom: 40px;
    }

    &__section{
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__section-title {
        font-size: 22px;
        font-weight: 700;
        color: #383531;
        margin-bottom: 10px;
    }

    &__section-text {
        font-size: 17px;
        font-weight: 400;
        color: #686159;
        line-height: 1.7;
    }


    &__add-company-button {
        margin-top: 40px;
        padding: 12px 24px;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        background-color: #0057ff;
        border: none;
        border-radius: 25px;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        &__title {
            font-size: 2rem;
        }

        &__plans {
            grid-template-columns: 1fr;
        }
    }
}