@import "../styles/common.scss";

body {
    .wish-listing {
        position: relative;
        width: 100%;
        max-width: $containerWidth;
        margin: 0 auto;
        padding: 1rem 24px;
        box-sizing: border-box;
        display: inline-grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        justify-items: center;

        // background-color: blue;

        //@import "./../../../widgets/product.widget.card.scss";
    }
}
