@import "../styles/colors.scss";

.breadcrumb-widget {
    width: 100%;
    padding: 0.5rem;
    //background-color: white;
    align-items: flex-start;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    a {
        color: $breadCrumbAnchorColor;
        text-decoration: none;
        &:hover {
            text-decoration: underline;

        }
    }
    i,
    svg {
        color: $breadCrumbAnchorColor;
    }
}
