@use "../styles/colors";
@use "../styles/config";

.filter {
  transition-duration: config.$transitionDuration;

  .hidden {
    display: none;
    visibility: hidden;
  }

  > form {
    padding: 1rem;
    background-color: transparent;
    border-right: 1px solid colors.$borderColor;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    // .head {
    //   background-color: white;
    //   padding: 1.5rem;
    // }

    .body {
      height: 100%;
      overflow: auto;
      //padding: 2rem;

      .filter-title {
        margin: unset;
      }

      .form-group {
        align-items: center;
        justify-content: flex-start;

        input {
          display: none;
        }
      }

      label,
      input {
        cursor: pointer;
      }
    }

    .footer {
      padding: 1rem;
      display: flex;
      flex-direction: row;
      background-color: white;

      button {
        padding: config.$buttonPadding;
        border-radius: config.$buttonBorderRadius;
        border: 1px solid colors.$primaryColor;
        background-color: colors.$primaryColor;
        color: colors.$onPrimary;
        cursor: pointer;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
