.info-pages-layout {
    display: flex;
    background-color: #ffffff;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;

    &__sidebar {
        min-width: 337px;
        background-color: #ffffff;
        padding: 60px 24px 60px 60px;
        border-right: none;
        box-sizing: border-box;
    }

    &__main {
        flex: 1;
        padding: 60px 60px 60px 60px;
        overflow-y: auto;
        box-sizing: border-box;
    }
}

.sidebar-nav {
    &__section {
        margin-bottom:  35px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__heading {
        font-size: 16px;
        font-weight: 700;
        color: #383531;
        margin: 0 0 8px 0;
        text-transform: none;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        font-size: 16px;
        font-weight: 500;
        color: #686159;
        padding: 0;
        margin-bottom: 2px;
        line-height: 1.5;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: inherit;
            text-decoration: none;
            transition: color 0.2s ease;
            display: block;
            padding: 0;

        }

        &--active {
            color: #0057ff;
            font-weight: 400;
            position: relative;

            a {
                color: #0057ff;
            }

            &::before {
                content: "";
                position: absolute;
                left: -10%;
                top: 50%;
                transform: translateY(-50%);
                width: 4px;
                height: 30px;
                background-color: #0057ff;
                border-radius: 0;
            }
        }
    }
}

// responsive 
@media (max-width: 1024px) {
    .info-pages-layout {
        &__sidebar {
            width: 280px;
            min-width: 280px;
            padding: 40px 24px 40px 40px;
        }

        &__main {
            padding: 40px 40px 60px 40px;
        }
    }
}

@media (max-width: 768px) {
    .info-pages-layout {
        flex-direction: column;

        &__sidebar {
            width: 100%;
            min-width: unset;
            padding: 30px 24px;
            border-right: none;
            border-bottom: 1px solid #e5e5e5;
        }

        &__main {
            padding: 30px 24px;
        }
    }

    .sidebar-nav {
        &__section {
            margin-bottom: 30px;
        }
    }
}