@import "../styles/common.scss";


.login-modal {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 472px;
  min-height: fit-content;
  max-width: 512px;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .logo {
    display: flex;
    justify-content: center;

    img {
      max-width: 240px;
    }
  }

  .form-title {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    margin: unset;
    padding: unset;
  }

  .login {
    display: block;
    width: 100%;
    max-width: 372px;
    padding: 0.75rem 1.5rem;

    background-color: $brandRed;
    color: $onPrimary;
    border: none;
    border-color: rgba($brandRed, 0.699);
    border-radius: $borderRadius;
    opacity: 0.75;
    transition-duration: $transitionDuration;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    border-radius: 2.5rem;

    &:hover {
      opacity: 1;
    }
  }

  .register {
    display: block;
    width: 100%;
    max-width: 372px;
    padding: 0.75rem 1.5rem;
    text-align: center;
    text-decoration: none;

    background-color: $brandBlue;
    color: $onBrandBlue;
    border: 1px solid rgba($brandBlue, 0.699);

    border-radius: 2.5rem;
  }
}
