.manufacturer-listing {
  position: relative;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-auto-rows: auto;
  justify-items: stretch;
  align-items: start;
  box-sizing: border-box;
}
