.product-listing {
  position: relative;
  display: inline-grid;
  gap: 1rem;
  padding: 1rem;
  width: 100%;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-items: flex-start;
}
